.reset-password-button {
  background-color: #3498db;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 10px;
}

.reset-password-button:hover {
  background-color: #2980b9;
}
