/* index.css */

/* Import Cairo font */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap");

/* Reset margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap");

html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: "Cairo", sans-serif;
  direction: rtl;
  background-color: #f3f4f6;
}
